set_io --warn-no-port   clk         J3
set_io --warn-no-port   indicator0  B5
set_io --warn-no-port   indicator1  B4
set_io --warn-no-port   indicator2  A2
set_io --warn-no-port   indicator3  A1
set_io --warn-no-port   indicator4  C5
set_io --warn-no-port   indicator5  C4
set_io --warn-no-port   indicator6  B3
set_io --warn-no-port   indicator7  C3
set_io --warn-no-port   tx_line     B12
